* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 10px;
  }
  body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* begin: header */
  .header {
    background-color: #fff;
    letter-spacing: 0.4rem;
    padding: 1.2rem 1.6rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .header-link {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
  .header-link:hover {
    background-color: #ccc;
  }
  .header-link span {
    font-weight: 800;
  }
  .navbar {
    display: none;
  }
  /* end */
  /* begin: slider */
  .slider {
    max-width: 150rem;
    margin: 0 auto;
    position: relative;
  }
  .slider-img {
    width: 100%;
  }
  .slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.4rem;
  }
  .slider-text {
    color: #fff;
    font-size: 3.6rem;
    padding: 0.8rem 1.6rem;
    background-color: #000;
    opacity: 0.7;
  }
  .slider-arc {
    display: none;
  }
  /* end */
  .page-container {
    padding: 1.6rem;
    max-width: 1564px;
    margin: 0 auto;
  }
  /* begin: project_section */
  .project-section {
    padding: 0 1.6rem;
  }
  .project-title {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 2rem 0;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid #ccc;
  }
  .project-group {
      margin-top: 3rem;
  }
  .project-item {
    position: relative;
    margin-bottom: 2rem;
  }
  .project-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.8rem 1.6rem;
    color: #fff;
    background-color: #000;
  }
  .project-img {
    width: 100%;
  }
  /* end */
  /* begin: about_section */
  .about-section {
    padding: 0 1.6rem;
  }
  .about-title {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 2rem 0;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid #ccc;
  }
  .about-desc {
    margin: 2rem 0;
    line-height: 1.4;
  }
  .about-group{
      margin-top: 3rem;
  }
  .about-item {
    margin-bottom: 2rem;
  }
  .about-img {
    width: 100%;
  }
  .subtitle {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 1rem 0;
  }
  .about-job {
    margin: 1.5rem 0;
    opacity: 0.5;
  }
  .about-btn {
    display: inline-block;
    width: 100%;
    background-color: #f1f1f1;
    padding: 1.6rem;
    font-size: 1.5rem;
    border: none;
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  .about-btn:hover {
    background-color: #ccc;
  }
  /* end */
  /* begin: contact-section */
  .contact-section{
    padding: 0 1.6rem;
  }
  .contact-title{
    font-size: 2.4rem;
    font-weight: 400;
    margin: 2rem 0;
    padding: 1.6rem 0;
    border-bottom: 0.1rem solid #ccc;
  }
  .contact-desc{
    margin: 1.5rem 0;
  }
  .contact-input{
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 0.1rem solid #ccc;
  }
  .contact-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.8rem 1.6rem;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    cursor: pointer;
  }
  .contact-btn:hover{
    background-color: #ccc;
    color: #000;
  }
  /* end */
  /* begin: map */
  .map{
    padding: 0 1.6rem;
  }
  .map-img{
    width: 100%;
  }
  /* end */
  /* begin: footer */
  footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 3rem 0;
  }
  footer a{
    color: #fff;
    cursor: pointer;
  }
  footer a:hover{
    color:#4CAF50 ;
  }
  /* end */
  @media screen and (min-width: 601px) {
    /* begin: header */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar {
      display: block;
    }
    .nav-list {
      display: flex;
      list-style: none;
    }
    .nav-item {
      padding: 0.8rem 1.6rem;
      cursor: pointer;
    }
    .nav-item:hover {
      background-color: #ccc;
    }
    .nav-link {
      text-decoration: none;
      color: #000;
    }
    /* end */
    /* begin: slider */
  
    .slider-arc {
      display: inline-block;
      color: #f1f1f1;
      font-weight: 400;
    }
    /* end */
  }
  @media screen and (min-width: 601px) and (max-width: 992px) {
    /* begin: project-section */
    .project-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
    }
    .project-item {
      width: calc((100% - 1.6rem) / 2);
      margin-bottom: 0;
    }
    /* end */
    /* begin: about-section */
    .about-group{
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
    }
    .about-item{
      width: calc((100% - 1.6rem) / 2);
    }
    /* end */
  }
  @media screen and (min-width:992px) {
    /* begin: project-group */
    .project-group {
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
    }
    .project-item {
      width: calc((100% - 4.8rem) / 4);
      margin-bottom: 0;
    }
    /* end */
    /* begin: about-section */
    .about-group{
      display: flex;
      flex-wrap: wrap;
      gap: 1.6rem;
    }
    .about-item{
      width: calc((100% - 4.8rem) / 4);
    }
    /* end */
  }